html, body {
    padding: 0;
    margin: 0;

}

#noteArea {
    width: 100%;
    height: 100%;
    background-image: linear-gradient(#dddddd 15%,#f1f1f1 50%);
    position: absolute;
}

.block {
    width: 25%;
    position: absolute;
    z-index: 100;
    background-image: url("images/NoteAlive.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.hitBlock{
    background-image: linear-gradient(#4f4f4f 15%, #757575 25%);
    width: 25%;
    height: 100%;
    position: absolute;
    z-index: 200;
    opacity: 0;

}

#hitBlock1{
    left: 25%;
}
#hitBlock2{
    left: 50%;
}
#hitBlock3{
    left: 75%;
}

.destroyed{
    background-image: url("images/NoteDead.png");
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.key{
    width: 25%;
    bottom: 0;
    position: absolute;
    z-index: 300;
    height: 20%;
    background-image: url("images/CircleUp.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
}

.pressed{
    background-image: url("images/CircleDown.png");
}

#key1{
    left: 25%;
}

#key2{
    left: 50%;
}

#key3{
    left: 75%;
}

.Menu{
    height: 100%;
    width: 100%;
    position: absolute;
    background-color: #f1f1f1;
}

.header{
    width: 100%;
    height: 15%;
    display: block;
    color: #000;
    font-family: "Impact", Charcoal, sans-serif;
    font-size: 400%;
    text-align: center;
    padding: 8px 16px;
    border: 0;
}

.MenuButton {
    width: 100%;
    height: 12.5%;
    display: block;
    color: #000;
    font-family: "Impact", Charcoal, sans-serif;
    font-size: 300%;
    padding: 8px 16px;
    border: 0;
    z-index: 999;
    cursor: pointer;
  }

.MenuButton:hover {
    background-color: #555;
    color: white;
}

.PointEntry{
    display: inline-block;
    width:50%;
    color: #000;
    font-family: "Impact", Charcoal, sans-serif;
    font-size: 150%;
    text-align: center;
    
}
.TextEntry{
    width: 100%;
    display: inline-block;
    color: #000;
    font-family: "Impact", Charcoal, sans-serif;
    font-size: 150%;
    text-align: center;
    border: 0;
}

.ScoreContainer{
    float: center;
    margin-left: auto;
    margin-right: auto;
}


#points{
    width: 100%;
    height: 15%;
    top: 0;
    display: block;
    position: fixed;
    color: #888888;
    font-family: "Impact", Charcoal, sans-serif;
    font-size: 250%;
    text-align: center;
    padding-top: 12px;
    padding-bottom: 12px;
    border: 0;
    z-index: 99999;
}